@import url("https://fonts.googleapis.com/css2?family=Schoolbell&display=swap");

body {
  background-color: #2b2a2a; /* Deep blackboard color */
  background-image: url("https://www.transparenttextures.com/patterns/black-board.png"); /* Chalk texture */
  font-family: "Schoolbell", cursive;
  color: white;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

.header {
  margin-bottom: 20px;
}

.heading {
  text-decoration: underline;
  color: white;
  font-size: larger;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
}

button {
  background-color: #1c1c1c; /* Black Chalkboard */
  color: white;
  font-family: "Schoolbell", cursive; /* Chalk-like font */
  font-size: 22px;
  border: 3px solid white; /* Chalk effect */
  padding: 12px 25px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-in-out;
  position: relative;
  outline: none;
  display: inline-block;
  margin: 5px;
  width: 110px;
  height: 60px;
  flex: 1;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .heading {
    font-size: 1.5rem; /* Smaller heading for mobile */
  }

  button {
    font-size: 18px;
    padding: 10px;
    width: 100px;
    height: 50px;
  }

  .board {
    width: 80%; /* Make the board take 80% of the container width */
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 1.2rem; /* Further decrease heading size */
  }

  button {
    font-size: 16px;
    padding: 8px;
    width: 100px;
    height: 45px;
  }

  .board {
    width: 90%; /* Make the board take 90% of the container width */
  }


}

@media (max-width: 320px) {
  button {
    font-size: 14px;
    padding: 6px;
    width: 100px;
    height: 40px;
  }
}
